[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=StartIhsign
Type=Application
Exec=/home/ihsanlab/digitalsignage-client-scripts/armbian/files/startup.sh
Icon=
Terminal=false
StartupNotify=false
Hidden=false
GenericName=
GenericName[en_US]=
Comment=
RunHook=0